# Виртуальное окружение
.venv/
venv/

# Кэш Python
__pycache__/
*.py[cod]

# Переменные окружения и секреты
.env
.env.*

# Исключение для примера переменных окружения
!.env.example

# Настройки редакторов
.vscode/

# Файлы операционной системы
.DS_Store
Thumbs.db

# Кэш тестов
.pytest_cache/